<ul>
  <li>
    <h2><%=@question%></h2>
    </li>
  <li>
    <p>- You</p>
    </li>
</ul>
<br>
<ul>
  <li>
    <h2><%=@answer%></h2>
    </li>
  <li>
    <p>- Your coach</p>
    </li>
</ul>


<p><%= link_to("Ask Again", "/ask") %></p>
